@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-ovo: "Ovo", serif;
  --font-outfit: "Outfit", sans-serif;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --shadow-light: 4px 4px 0 #000;
  --shadow-dark: 4px 4px 0 #fcf4ff;
}

body {
  @apply font-outfit; /* Outfit is the default */
}

.dark body {
    @apply bg-dark-theme text-white;
}
