@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-ovo: var(--font-ovo), "Ovo", serif;
  --font-outfit: var(--font-outfit), "Outfit", sans-serif;

  --color-light-hover: #f0fdf4;
  --color-dark-hover: #15221d;
  --color-dark-theme: #0c100e;
}

body {
  @apply font-outfit bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-dark-theme text-white;
}

/* Hide scrollbar on the side for all browsers while maintaining scrollability */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  width: 0px;
  height: 0px;
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}