@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-ovo: "Ovo", serif;
  --font-outfit: "Outfit", sans-serif;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --shadow-light: 3px 3px 0 #000;
  --shadow-dark: 3px 3px 0 #fcf4ff;
}

body {
  @apply font-outfit; /* Outfit is the default */
}

.dark body {
    @apply bg-dark-theme text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}